.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  width: 940px;
  margin: 10px auto;
}
.card {
  width: 200px;
  height: 200px;
  border-radius: 11px;
  transition: 300ms linear;
}
.card > img {
  opacity: 0;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: 300ms linear;
position: relative;
z-index: 2;
}
.default {
  background-image: url("http://www.nordicrotors.com/images_2/display_2/SE-JGF2011-12-28_14:13:26_display_5136.jpg");
  background-size: cover;
}
.active {
  opacity: 1;
  background-image: none;
}
