* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 0; }

.slider {
  padding-top: 40px; }
  .slider__radio {
    visibility: hidden;
    visibility: hidden; }
  .slider__card-wrapper {
    width: 350px;
    margin: 0 auto;
    overflow: hidden; }
  .slider__container {
    display: flex;
    width: 400%;
    margin-bottom: 20px; }
  .slider__card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .slider__img {
    width: 350px;
    margin-bottom: 20px; }
  .slider__text {
    font-size: 16px; }
  .slider__btn {
    display: flex;
    margin: 0 auto;
    width: 100px;
    justify-content: space-between; }
  .slider__btn label {
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: grey; }

#radio1:checked ~ .slider__btn label:nth-child(1) {
  background-color: blue; }

#radio1:checked ~ .slider__card-wrapper > .slider__container {
  margin-left: 0; }

#radio2:checked ~ .slider__btn label:nth-child(2) {
  background-color: blue; }

#radio2:checked ~ .slider__card-wrapper > .slider__container {
  margin-left: -100%; }

#radio3:checked ~ .slider__btn label:nth-child(3) {
  background-color: blue; }

#radio3:checked ~ .slider__card-wrapper > .slider__container {
  margin-left: -200%; }

#radio4:checked ~ .slider__btn label:nth-child(4) {
  background-color: blue; }

#radio4:checked ~ .slider__card-wrapper > .slider__container {
  margin-left: -300%; }
