.key-features__wrapper_img {
  width: 418px;
  position: relative; }
  .key-features__wrapper_img:hover > .wrapper_img__inner {
    transform: scale(1.1); }

.wrapper_img__frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.wrapper_img__inner {
  position: absolute;
  top: 97px;
  left: 73px;
  transition: 200ms linear; }
