* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 0; }

footer {
  position: relative;
  margin-top: -1;
  height: 1;
  clear: both; }

.slider {
  padding-top: 50px;
  padding-bottom: 50px; }
  .slider__card {
    margin: 0 auto;
    width: 400px;
    margin-bottom: 30px;
    text-align: center;
    transition: 200ms linear; }
    .slider__card--2 {
      display: none; }
    .slider__card--3 {
      display: none; }
    .slider__card--4 {
      display: none; }
  .slider__photo {
    height: 250px;
    width: 150px;
    overflow: hidden;
    margin-bottom: 25px; }
  .slider__text {
    font-size: 14px; }
  .slider__controls {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin: 0 auto; }
  .slider__btn {
    margin: 0 auto 20px;
    height: 15px;
    width: 15px;
    display: block;
    background-color: #00f;
    border-radius: 50%;
    transition: 200ms linear;
    cursor: pointer; }
    .slider__btn:hover {
      background-color: #7979ee; }
    .slider__btn--1 {
      background-color: #7979ee; }
    .slider__btn--2:hover ~ .slider__card--2 {
      display: block; }
    .slider__btn--2:hover ~ .slider__card--1 {
      display: none; }
    .slider__btn--3:hover ~ .slider__card--3 {
      display: block; }
    .slider__btn--3:hover ~ .slider__card--1 {
      display: none; }
    .slider__btn--4:hover ~ .slider__card--4 {
      display: block; }
    .slider__btn--4:hover ~ .slider__card--1 {
      display: none; }
